pytest
Flask==1.1.4
flask-wtf==0.14.2
python-dotenv==0.13.0
Werkzeug==0.16.0
password-validator==1.0
better_profanity==0.7.0
beautifulsoup4 4.11.1
bs4            0.0.1
certifi        2022.9.24
pip            22.2.2
setuptools     58.1.0
soupsieve      2.3.2.post1
wheel          0.37.1
numpy          1.23.4
