
body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: #FFFFFF;
  margin: 0px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

img {
  display: block;
  width: auto;
  height: auto;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.img-small {
    display: block;
    width: 300px;
    height: auto;
    padding: 5px;
    margin-left: auto;
    margin-right:auto;
}

.btn-nav {
  padding: 10px;
  border-bottom: 1px solid #2f3c7a;
  border-top: 1px solid #2f3c7a;
  color: #1a1a1a;
  font-family: "Lato", sans-serif;
  display: block;
  overflow: hidden;
  width: 150px;
  background: #acb1c2;
}

.btn-nav:hover {
  background-color: #2f3c7a;
  color: #1a1a1a;
}



.btn-general-disabled {
    background-color: #4b4276;
    border: none;
    border-radius: 8px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    float:left;
    #opacity: 0.6;
}


.textarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
}

#body {
  min-height: 100%;
  margin-bottom: -60px;
  font-size: medium;
  font-family: "Lato", sans-serif;
}
#nav-footer {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 12px;
  font-size: 15px;
}

#header {
  padding: 1px;
  background: #e3e3e3;
  border-bottom: 1px solid #cccccc;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  font-family: "Lato", sans-serif;
}

#content-2 {
  height: 100vh;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

#home_page {
   font-family: "Lato", sans-serif;
   text-align: left;
   font-size: 16px;
}

#container {
  height: 100vh;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}

#nav {
  width: 200px;
  height: 100%;
  background: #bcc2c4;
  padding: 30px 0px;
  position: fixed;

}

#nav-header {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 12px;
  font-family: "Lato", sans-serif;
}

#sub-nav-header {
  color: #fff;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: "Lato", sans-serif;
}

#nav-footer {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  font-size: small;
  text-align: center;
  word-wrap: break-word;
  font-family: "Lato", sans-serif;
}

#main {
  margin: 20px;
  color: #FFFFFF;
  line-height: 25px;
  padding: 10px;
  width: 66.666667%;
}

#logo {
  width: 150px;
}

input[type='text'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='text']:focus {
       background-color: #cce0ff;
}

input[type='hidden'],
    select{
        max-width: 500px;
        max-height: 500px;
        margin: 0px;
    }

input[type='password'],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

input[type='password']:focus {
       background-color: #abcbff;
}

input[type='submit'] {
     width: 20%;
     background-color: #abcbff;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

input[type='submit']:hover {
    background-color: #abcbff;
    color: black;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden;
}

#Displaybooks {
    padding: 30px;
    margin-top: 30px;
}

#Displaybook {
    text-align: left;
    padding: 50px;
    margin-left: 30px;
    margin-bottom:100px;
    clear:both;
    width: 500px;
    height: 1000px;
}

#Displaybook button{
     background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#Displaybook inline {
   display:inline-block;
   margin-right:5px;
}

#Semester {
  overflow: auto;
  background: #d6edff;
  border: 1px solid blue;
  padding: 25px;
  margin: 2px;
}

#Course {
  width: 250px;
  height: 100px;
  float: left;
  background-color: #4298f5;/* Blue */
  border: 1px solid blue;
  padding: 25px;
  margin: 2px;
}

.AddCourseHomeButton {
  background-color: #4298f5; /* Blue */
  border: none;
  color: white;
  width: 100px;
  height: 100px;
  padding: 15px 32px;
  border: 1px solid blue;
  text-align: center;
  text-decoration: none;
  display: block ;
  font-size: 64px;
  margin-top: 40px;
  margin-left:40px;
}

.AddCourseHomeButton:hover {
    background-color: #83bdfc;
}



.button-default {
  color: white;
  background-color: #2f3c7a;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
}

.button-slanted {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  float: right;
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: inline-block;
}

a:link, a:visited {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}




/* #######################################Drop downs################################### */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



.dropdown a:hover {background-color: #ddd;}

.show {display: block;}